<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laurelid.test">

    <application>
        <activity
            android:name="com.laurelid.TestScannerActivity"
            android:exported="false" />
    </application>

</manifest>
