/.gradle
/local.properties
/app/local.properties
/.idea
/build
/captures
/.cxx
*.iml
*.bak
/gradle/local-distributions/*.zip

# Project exclude paths
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
# Cert/keystore binaries
app/src/**/trust/**.cer
*.cer
*.der
*.p12
*.jks

